* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../assets/img/fondoPapel.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* -----------------HEADER-----------------*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2vh 2vw;
    z-index: 10;
}

h1 {
    font-size: 6.5rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    opacity: 1;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center; 
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 5vw;
    flex-wrap: wrap;
    color: white;
}

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}

.logo {
    flex: 1; 
}

.logo img {
    height: 9vh;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 2; 
    justify-content: flex-end; 
    flex-wrap: wrap;
    color: white;
}

.nav-links li {
    margin-left: 2vw;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

.nav-links a:hover {
    color: #ff6347;
}

.nav-social {
    display: flex;
    gap: 1vw;
    flex: 1; 
    justify-content: flex-end; 
}

.nav-social img {
    height: 5vh;
    transition: transform 0.3s;
}

.nav-social img:hover {
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
/*---------NEWS---------*/

.newspaper-container {
    display: flex;
    padding: 40px 6vw;
    margin: auto;
    gap: 2rem;
}


.main-news {
    flex: 3;
}


.featured-news {
    display: flex;
    gap: 5rem;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-news img {
    width: 100%;
    object-fit: cover;
}



.featured-news h2 {
    font-size: 2rem;
}


.grid-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.news-item {
    background: white;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.news-item h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}


.latest-news {
    flex: 1;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.latest-news h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #ff6347;
    padding-bottom: 5px;
}

.latest-news ul {
    list-style: none;
    padding: 0;
}

.latest-news li {
    margin: 10px 0;
}

.latest-news a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.latest-news a:hover {
    color: #ff6347;
}


@media (max-width: 900px) {
    .newspaper-container {
        flex-direction: column;
    }

    .featured-news {
        flex-direction: column;
    }

    .featured-news img {
        width: 100%;
    }

    .grid-news {
        grid-template-columns: 1fr;
    }
}

/*-----------------SUSCRIPCION-------------*/

.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 6vw;
    background: url('../assets/img/fondoHero.jpg') left/cover no-repeat;
    color: white;
}

.subscription-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
}

.subscription-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-image img {
    max-width: 100%;
    height: auto;
}

.subscription-content {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.subscription-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.subscription-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.subscription-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscription-content input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.subscription-content button {
    background: #6a11cb;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.subscription-content button:hover {
    background: #2575fc;
}


@media (max-width: 768px) {
    .subscription-container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .subscription-image {
        margin-bottom: 20px;
    }
}


/*-----------EDITORIAL---------*/
.editorial-opinion {
    margin-top: 50px;
    padding: 4rem 6vw;
    background-color: #f3f3f3; 
    text-align: left;
}

.editorial-opinion h2 {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #ff6347;
    display: inline-block;
}

.opinion-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.opinion {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
}

.opinion:last-child {
    border-bottom: none; 
}

.opinion img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    filter: grayscale(100%);
}

.opinion-text {
    flex: 1;
}

.opinion blockquote {
    font-size: 1.4rem;
    font-weight: bold;
    color: #111;
    line-height: 1.5;
    font-style: italic;
    position: relative;

}

.opinion blockquote::before {
    content: "“";
    font-size: 3rem;
    font-weight: bold;
    color: #ff6347;
    position: absolute;
    left: -20px;
    top: -5px;
    margin-right: 10px;
}

.opinion blockquote::after {
    content: "”";
    font-size: 3rem;
    font-weight: bold;
    color: #ff6347;
    position: absolute;
    right: -20px;
    bottom: -10px;
}

.author {
    font-size: 1rem;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
}

.author span {
    color: #777;
    font-weight: normal;
}


@media (max-width: 768px) {
    .opinion {
        flex-direction: column;
        text-align: left;
    }

    .opinion img {
        width: 70px;
        height: 70px;
    }

    .opinion-text {
        text-align: left;
    }
}



/*----------FOOTER----------*/
footer {
    background-image: url('../assets/img/fondoHero4.jpg');
    color: white;
    text-align: center;
    padding: 60px;
    font-family: Arial, sans-serif;
}

.logof img {
    height: 220px;
    max-width: 500px; 
    margin-bottom: 15px; 
}

.cities {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cities button {
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

hr {
    width: 50%;
    margin: 10px auto;
    border: 1px solid white;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 12px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.socials {
    margin-top: 10px;
    font-size: 20px;
}

.socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.socials a:hover {
    color: #ddd;
}

/*---------NEWS---------*/
.news-section {
    padding: 4rem 6vw;
    background-color: #fff;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.news-item {
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1 1 calc(50% - 2rem); 
    transition: transform 0.3s;
}


.news-item:hover {
    transform: scale(1.02);
}

.news-item img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    margin-bottom: 1rem;
}

.news-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.news-item p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
}

.news-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #999;
}

.news-meta i {
    margin-right: 0.5rem;
}

.news-date,
.news-tags {
    display: flex;
    align-items: center;
}


.featured-news {
    padding: 4rem 6vw;
    background-color: #f0f0f0;
    text-align: left;
}

.featured-news h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #ff6347;
}

.featured-news .news-item {
    flex: 1 1 100%;
}


.news-categories {
    padding: 2rem 6vw;
    background-color: #fff;
    text-align: left;
}

.news-categories h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ff6347;
}

.news-categories ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.news-categories ul li {
    font-size: 1.2rem;
}

.news-categories ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.news-categories ul li a:hover {
    color: #ff6347;
}



/* ------------------MEDIA QUERIES---------------------*/
@media (max-width: 768px) {
    .news-item {
        flex: 1 1 100%; 
    }

    .featured-news .news-item {
        flex: 1 1 100%;
    }

    .news-categories ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .subscription-section form {
        width: 100%;
    }

    .subscription-section input {
        width: 80%;
    }
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1vw 0;
    }

    .nav-links a {
        font-size: 4vw;
    }

    .nav-social {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

}